{% include 'recipes/navbar.html' %}
{% load static %}
{% block content %}



<div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          {% for recipe in recipes %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ recipe.image.url }}" width="640" height="426"/>
              <div class="card-body">
                <p class="card-text">{{ recipe.name }}</p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>


{% endblock %}