<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

{% load static %}
{% load crispy_forms_tags %}


<style>
.main-navigation {
    box-shadow: 0 5px 4px -2px rgba(0,0,0,.2);
}





</style>

<nav class="navbar navbar-expand-lg navbar-light main-navigation" style="background-color: #98FB98;">
    <a class="navbar-brand" href="{% url 'home' %}">FoodRecipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'your_recipes' %}">Your Recipes<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'popularrecipes' %}">Popular Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}" tabindex="-1" aria-disabled="true">Gallery</a>
            </li>
        </ul>

        <p>{{user}}</p>
        <div>

            <div>

                <a href="">Logout</a>
                <!-- <button class="btn btn-warning">Login</button>
                <button class="btn btn-primary">Signup</button> -->
            </div>
        </div>
    </div>
</nav>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">

                    <img class="card-img-top" src="{{ recipe.image.url }}" width="300" height="350"/>

                    <div class="card-body">
                        <h4><a href="{% url 'your_recipes_instructions' pk=recipe.id %}">{{ recipe.name }}</a></h4>
                        <h5>{{ recipe.date_created }}</h5>
                        <hr>
                        <p class="card-text"></p>
                        <p>{{ recipe.description }}</p>
                        <a href="{% url 'update_recipe' pk=recipe.id %}">
                            <button type="button" class="btn btn-warning">Update Recipe</button>
                        </a>
                        <a href="{% url 'delete_recipe' pk=recipe.id %}">
                            <button type="button" class="btn btn-danger">Delete Recipe</button>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <form class="form-inline my-2 my-lg-0">
            {{ myfilter.form }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <br>
        <a href="{% url 'add_recipe' %}">
            <button type="button" class="btn btn-primary btn-lg btn-block">Add new Recipe</button>
        </a>
    </div>
</div>
